{%- include common/rest/site_pages.liquid -%}
{%- include common/rest/workdir.liquid workdir=page.dir -%}

<div class="top_shelf">

{%- for item in workdir_files %}
    <div class="top_item">
        [{{ item.name }}]({{ item.url | relative_url }})
    </div>
{%- endfor -%}

</div>