{%- include common/rest/site_pages.liquid -%}
{%- include common/rest/workdir.liquid workdir="/pages/" -%}

<div class="top_shelf">

{%- for item in workdir_files %}
    <a class="top_item" href="{{ item.url | relative_url }}">
        <img src="{{ item.top_image }}" alt="{{ item.title }}" title="{{ item.title }}">
    </a>
{%- endfor -%}

</div>
