.imageBlock {
  .imageBlock__main {
    text-align: center;
  }
  .imageBlock__mainItem {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .imageBlock__caption {
    margin-top: 8px;
    font-size: 0.875em;
    line-height: 1.2;
    text-align: center;
  }

  .imageBlock__content {
    margin-top: 8px;
  }
}