---
---

@import "theme.scss";

.markdown-body {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.6rem;
    background-color: rgba(41, 128, 185, 0.1);
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
  }
  h3 {
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.1);
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
  }
  p {
    padding: 0 1rem;
  }
}
