@import "../utils/variables.scss";

.button {
  display: block;
  padding: 16px - 2px - 16px * 0.1 24px - 2px;
  border: solid 2px $color-base-2;
  width: 100%;
  border-radius: 16px * 2 + 16px * 1.2 * 2;
  background-color: $color-base-2;
  color: $color-base-5;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &.button--border {
    background-color: $color-base-5;
    color: $color-base-2;
  }

  @media (min-width: $breakpoint-min-width-3) {
    &:hover {
      background-color: $color-base-1;
      text-decoration: none;
    }

    &.button--border:hover {
      background-color: $color-base-4;
    }
  }
}
